.phaseIndex{
    position: absolute;
    left: 40%;
    top: 200px;
     font-size: 30px;
     border: 1px solid rgb(60, 56, 56);
     display: flex;
     
     
}


.phase-solid{
    background: hsla(0, 50%, 50%, 0.764);
    
    padding: 5px;
    text-align: center;
     
}

.phase-gas{
    background: rgb(52, 51, 51);
     
    padding: 5px;
    text-align: center;
   
}
.phase-liquid{
    background: rgba(23, 23, 90, 0.483);
    padding: 5px;
    
    text-align: center;
}
.hidden{
    display: none;
}


/*  cat -index*/

.cat-index{
    position: absolute;
    left: 40%;
    top: 70px;
     font-size: 30px;
     border: 1px solid rgb(60, 56, 56);
     display: flex;
      text-align: center;
     flex-direction: column;
}


.cat-nonmetal{
    background-color: yellow;
    color: black;
     }
     .cat-noble_gas{
    background-color: green;
     }
     .cat-alkali_metal{
    background-color: blueviolet;
     }
     .cat-earth_metal{
    background-color: blue;
     }
     .cat-metalloid{
        background-color: rgb(79, 79, 88);
     }
     .cat-transition_metal{
    background: hwb(185 36% 37% / 0.775);
    
     }
     .cat-lanthanide{
       
        background-color: rgb(126, 77, 77);
     }
     .cat-actinide{
    background-color: rgb(183, 130, 233);
     }

     /*  period-index*/
.pp{
    padding: 0px 10px;
}
     .pp1{
        background: rgb(68, 79, 194);
     }
     .pp2{
        background: rgb(164, 163, 94);
     }
     .pp3{
        background: rgb(223, 115, 26);
     }
     .pp4{
        background: rgb(71, 66, 66);
     }
     .pp5{
        background: rgb(115, 46, 46);
     }
     .pp6{
        background: rgb(12, 168, 137);
     }
     .pp7{
        background: rgb(93, 129, 3);
     }
     .pp8{
        background: rgb(41, 28, 28);
     }

     .per-index{
        position: absolute;
        left: 40%;
        top: 70px;
         font-size: 30px;
         border: 1px solid rgb(60, 56, 56);
         display: flex;
          text-align: center;
         flex-direction: column;
    }