.table{
    padding: 20px;
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(18,2fr);
    background: hsla(244, 33%, 16%, 0.24);
}

.el{
    background-color: green;
    padding: 4px;
     border: 1px solid rgba(12, 18, 59, 0.418);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.symbol{
    font-size: 30px;
}
.number{
    font-size: 18px;
}
.name{
    font-size: 15px;
}
#he{
    grid-column: 18/19;
}
#b{
    grid-column: 13/14; 
}
#al{
grid-column: 13/14;
}
#hf{
    grid-column: 4/5;
}
#rf{
    grid-column: 4/5;
}
#la,#ac{
    grid-column: 4/5;
}
.lanthanide-class{
    margin-top: 20px;
}

.solid{
    background: hsla(0, 50%, 50%, 0.764);
}
.gas{
    background: rgb(52, 51, 51);
}
.liquid{
    background: rgba(23, 23, 90, 0.483);
}

 
 .nonmetal{
background-color: yellow;
color: black;
 }
 .noble_gas{
background-color: green;
 }
 .alkali_metal{
background-color: blueviolet;
 }
 .earth_metal{
background-color: blue;
 }
 .metalloid{

 }
 .transition_metal{
background: hwb(185 36% 37% / 0.775);

 }
 .lanthanide{
    margin-top: 20px;
    background-color: rgb(126, 77, 77);
 }
 .actinide{
background-color: rgb(183, 130, 233);
 }

 .p1{
    background: rgb(68, 79, 194);
 }
 .p2{
    background: rgb(164, 163, 94);
 }
 .p3{
    background: rgb(223, 115, 26);
 }
 .p4{
    background: rgb(71, 66, 66);
 }
 .p5{
    background: rgb(115, 46, 46);
 }
 .p6{
    background: rgb(12, 168, 137);
 }
 .p7{
    background: rgb(93, 129, 3);
 }
 .p8{
    background: rgb(41, 28, 28);
 }